* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background: black;
}
.title {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}
.text-none {
  text-decoration: none!important;
  color: white;
}